@blue: #148ee3;
@pink: #e314d7;
@green: #11b928;
@purple: #6714e3;

body {
    font: 48px/1em "Londrina Solid", sans-serif;
    padding: 25px 0;
}

a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
    &.audio:hover {
        border-bottom: 3px dashed @purple;
        color: @purple;
    }
    &.def:hover {
        border-bottom: 3px dashed @pink;
        color: @pink;
    }
    &.function:hover {
        border-bottom: 3px dashed @blue;
        color: @blue;
    }
    &.string:hover {
        border-bottom: 3px dashed @green;
        color: @green;
    }
}

.comment {
    color: #ccc;
}

.def {
    color: @pink;
}

.docstring, .string {
    color: @green;
}

.docstring .content {
    margin-top: -.5em;
}

.function {
    color: @blue;
}

.import {
    color: @purple;
    em {
        color: @blue;
        font-style: normal;
    }
}

.indent {
    padding-left: 1.5em;
}

.links {
    margin: -10px 0;
    padding-left: 1.5em;
    li {
        line-height: 1.1em;
    }
}

.play {
    color: #d714e3;
}

.post {
    padding: 75px 0 0;
}


/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        font-size: 22px;
        padding: 20px 10px;
    }
    .post {
        padding-top: 30px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) and (min-width: 481px){
    body {
        font-size: 32px;
        padding: 25px 10px;
    }
    .post {
        padding-top: 40px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body {
        font-size: 38px;
    }
    .post {
        padding-top: 50px;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    body {
        font-size: 60px;
    }
}
