---
layout: default
---

<div class="container">
  <div class="row">
    <div class="span10">
      <div class="docstring">
        <p>"""</p>
        <p class="content">An attempt to make a Python podcast worth listening to.<p>
        <p>"""</p>
      </div>
      <p class="import">import <em>podcast</em></p>
      <p>host = <a class="string" href="http://twitter.com/zachwill">"zachwill"</a></p>
    </div>
  </div>

  {% for post in site.posts %}
    {% include post.html %}
  {% endfor %}

</div>
