<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %}{{ page.title }}.py{% else %}{{ site.title }}{% endif %}</title>

  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Use "production.css" in production... -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Londrina+Solid">
  <link rel="stylesheet" href="/css/bootstrap-complete.css">
  <link rel="stylesheet/less" href="/css/dev.less">
  <script src="/js/less.js"></script>
</head>
