<div id="{{ post.title }}" class="row post">
  <div class="span10">
    <p><a href="#{{ post.title }}" class="def">def</a> <a href="{{ post.url }}" class="function">{{ post.title }}</a>(<a href="{{ post.audio }}" class="audio">play</a>):</p>
    <div class="indent">
      <p>topic = <span class="string">"{{ post.topic }}"</span></p>
      <p>guest = <a href="{{ post.guest.twitter }}" class="string">"{{ post.guest.name }}"</a></p>
      <p>links = [</p>
      <ul class="links unstyled">
        {% for link in post.links %}
        <li><a href="{{ link.url }}" class="string">"{{ link.title }}"</a>,</li>
        {% endfor %}
      </ul>
      <p>]</p>
    </div>
  </div>
</div>
