<div class="row">
  <div class="span10">
    <p>def <a href="{{ page.url }}" class="function">{{ page.title }}</a></p>
    <div class="indent">
      <p>guest = <span class="string">"{{ page.guest }}"</span></p>
      <p>topic = <span class="string">"{{ page.topic }}"</span></p>
      <p>links = [</p>
      <ul class="links">
        {% for link in page.links %}
        <li class="string">"<a href="{{ link.url }}">{{ link.title }}</a>"</li>
        {% endfor %}
      </ul>
      <p>]</p>
    </div>
  </div>
</div>
